{% extends 'core/base.html' %}
{% load static %}
{% block title %}Páginas{% endblock %}
{% block content %}

{% include 'pages/includes/pages_menu.html' %}

<main role="main">
  <div class="container mb-4">
    {% for page in page_list|dictsort:'id' reversed %}
      <div class="row mt-3">
        <div class="col-md-9 mx-auto">
          <h2 class="mb-4">{{page.title}}</h2>
          <div>
            <p>{{page.content|striptags|safe|truncatechars:"200"}}</p>
            {% if request.user.is_staff %}
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pages:detail' page.id page.title|slugify %}">Read more</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pages:update' page.id %}">Edit</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'pages:delete' page.id %}">Link</a>
                </li>
              </ul>
            {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
